* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    font-family: Verdana, sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    
    background: linear-gradient(180deg, rgba(9, 35, 171, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
}

button {
    height: 5rem;
    border: .2rem solid #fff;
    border-radius: 25px;
    padding: 0 4.5rem;

    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #1646a0;
    color: #fff;

    cursor: pointer;
    transition: all .4s ease-in-out;
}

button:hover {
    background-color: #0923af;
}